[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pymysql = "*"
autopep8 = "*"

[packages]
django = "==2.2.16"
mysqlclient = "==2.0.1"
pendulum = "==2.1.2"
requests = "==2.24.0"
djangorestframework = "==3.11.1"
django-filter = "==2.3.0"
django-mysql = "==3.8.1"
django-extensions = "*"
drf-yasg = "*"

[requires]
python_version = "3.7"
