asgiref==3.7.2
attrs==23.1.0
autopep8==2.0.4
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
Django==3.2.16
django-debug-toolbar==4.2.0
django-extensions==3.2.3
django-filter==23.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.26.5
et-xmlfile==1.1.0
gunicorn==21.2.0
h11==0.14.0
idna==3.4
inflection==0.5.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
number-precision==2021.1.30
openpyxl==3.1.2
packaging==23.2
pendulum==2.1.2
Pillow==10.0.1
pycodestyle==2.11.0
PyJWT==2.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.4
six==1.16.0
sqlparse==0.4.4
tencentcloud-sdk-python==3.0.992
tomli==2.0.1
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==2.0.6
uvicorn==0.23.2
